games/asteroids/Build/*
games/asteroids/TemplateData/*

games/breakout/Build/*
games/breakout/TemplateData/*

games/pong/Build/*
games/pong/TemplateData/*

games/robotron/Build/*
games/robotron/TemplateData/*

projects/dungeon-generation/Build/*
projects/dungeon-generation/TemplateData/*

projects/pathfinding/Build/*
projects/pathfinding/TemplateData/*