* {
    box-sizing: border-box;
}

/* Style Input Fields */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    background-color: #333;
}

input[type=submit] {
    background-color: #333;
    color: #F1F1F1;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #111;
    color: grey;
}

/* Style the page in a nice column format */
.column {
    float: left;
    width: 25%;
}

/* Style the submit button */
.button {
    color:grey;
}
